#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Built application files and Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# About IntelliJ
*.iml
/.idea/
/out/

# macOS
.DS_Store

# JIRA plugin
atlassian-ide-plugin.xml
/netcore/serviceconsume-netcore/.vs
/netcore/serviceconsume-netcore/serviceconsume-netcore/obj
/netcore/serviceconsume-netcore/serviceconsume-netcore/bin
/netcore/serviceconsume-netcore/serviceconsume-netcore/logs
/netcore/serviceconsume-netcore/serviceconsume-netcore/*.user
/netcore/skywalkingstarting/.vs
/netcore/skywalkingstarting/skywalkingstarting/obj
/netcore/skywalkingstarting/skywalkingstarting/.vs
/netcore/skywalkingstarting/skywalkingstarting/bin
/netcore/skywalkingstarting/skywalkingstarting/logs
/netcore/skywalkingstarting/skywalkingstarting/*.user
